<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range .Data.Pages }}
              {{ $image := resources.Get .Params.image }}
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 masonry-item">
                  <div class="box-masonry">
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                            <img src="{{ ($image.Fill " 1290x860 Center q100").Permalink }}" alt="" class="img-responsive">
                        </a>
                      <div class="box-masonry-text">
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
