{{ $dir := string (.Get "gallery_dir") }}
<div class="grid">
  <div class="row">

      {{ range (readDir (print "/assets" $dir)) }}
        {{ if and (not .IsDir) (eq (path.Ext .Name) ".jpg") }}

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 masonry-item">
            <div class="box-masonry">
              {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
              {{- $imageurl := printf "%s/%s" $dir .Name -}}
              {{- $imagetitle := index (split .Name ".") 0 -}}
              
                  <img
                    src="{{ ($image.Fit " 512x512 q80").Permalink }}"
                    alt=""
                    height="{{ ($image.Fit " 512x512 q80").Height }}"
                    width="{{ ($image.Fit " 512x512 q80").Width }}"
                    style="margin: 0; align: left;"
                    />
                </a>
                <div class="download-links">
                  {{ $parts := split $imagetitle "-" }}
                  {{ $locationName := replace (index $parts 0) "_" " " }}
                  {{ $id := index $parts 1 }}
                  {{ $formattedString := printf "%s, %s" $id $locationName }}

                  {{- $basename := index (split .Name ".") 0 -}}
                  {{- $webPath := printf "/images/educational_nonprofit/web/%s-web.jpg" $basename -}}
                  {{- $printPath := printf "/images/educational_nonprofit/print/%s-print.jpg" $basename -}}

                  <ul>
                    <li>
                      ID: {{ $id }}
                    </li>
                    <li>
                      Location: {{ $locationName }}
                    </li>
                    <li>
                      <a href="{{ $webPath }}" target="_blank" download>Download Web Optimized</a>
                    </li>
                    <li>
                      <a href="{{ $printPath | absURL }}" download>Download Print Optimized</a>
                    </li>
                  </ul>
                </div>
          </div>
          </div>

        {{ end }}
      {{ end }}

  </div>
</div>
