{{ $dir := string (.Get "gallery_dir") }}
<div class="grid">
  <div class="row">

    <div class="pswp-gallery" id="my-gallery">
      {{ range (readDir (print "/assets" $dir)) }}
        {{ if and (not .IsDir) (eq (path.Ext .Name) ".jpg") }}

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 masonry-item">
            <div class="box-masonry">
              {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
              {{- $imageurl := printf "%s/%s" $dir .Name -}}
              {{- $imagetitle := index (split .Name ".") 0 -}}
                  <img
                    src="{{ ($image.Fit " 1024x1024 q80").Permalink }}"
                    alt=""
                    height="{{ ($image.Fit " 1024x1024 q80").Height }}"
                    width="{{ ($image.Fit " 1024x1024 q80").Width }}" />
                </a>
                {{ $imageurl }}
                <div class="download-links">
                  {{- $basename := index (split .Name ".") 0 -}}
                  {{- $webPath := printf "%s/web/%s-web.jpg" $dir $basename -}}
                  {{- $printPath := printf "%s/print/%s-print.jpg" $dir $basename -}}
                  <a href="{{ $webPath | relURL }}" target="_blank">Download Web Optimized</a>
                  <br>
                  <a href="{{ $printPath | absURL }}" target="_blank">Download Print Optimized</a>
                </div>
            </div>
          </div>

        {{ end }}
      {{ end }}
    </div>

  </div>
</div>
